*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    font-family:Arial, Helvetica, sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#121212;

}
.container{

    width:95%;

    max-width:1400px;

    height:90vh;

    display:flex;

    border-radius:25px;

    overflow:hidden;

    background:#1b1b2d;

}
.sidebar{

    width:300px;

    background:#101827;

}
.player{

    flex:1;

    background:#252540;

}
.sidebar{

    width:300px;

    background:#151928;

    padding:25px;

    display:flex;

    flex-direction:column;

}
.logo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:40px;

}

.logo i{

    font-size:40px;

    color:#7c5cff;

}

.logo h2{

    color:white;

}

.logo p{

    color:#999;

    font-size:14px;

}
.playlist h3{

    color:white;

    margin-bottom:20px;

    text-transform:uppercase;

    letter-spacing:2px;

    font-size:14px;

}
.song-list{

    list-style:none;

}
.song{

    display:flex;

    align-items:center;

    gap:15px;

    padding:12px;

    border-radius:12px;

    cursor:pointer;

    margin-bottom:12px;

    transition:.3s;

}
.song:hover{

    background:#252540;

}
.active{

    background:#7c5cff;

}
.song img{

    width:55px;

    height:55px;

    object-fit:cover;

    border-radius:10px;

}
.song-info h4{

    color:white;

    font-size:15px;

}

.song-info p{

    color:#b0b0b0;

    font-size:13px;

}
.favorite{

    margin-top:auto;

    display:flex;

    align-items:center;

    gap:12px;

    color:#7c5cff;

    cursor:pointer;

    font-size:15px;

}



.player{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:40px;

}
.album{

    width:320px;

    height:320px;

    margin-bottom:30px;

}
.album img{

    width:100%;

    height:100%;

    object-fit:cover;

    border-radius:25px;

    box-shadow:0 15px 40px rgba(0,0,0,.5);

}
.song-details{

    text-align:center;

    margin-bottom:30px;

}
.song-details h1{

    color:white;

    font-size:34px;

}
.song-details p{

    color:#b5b5b5;

    margin-top:8px;

    font-size:18px;

}
.progress-area{

    width:100%;

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:35px;

}
#progress{

    flex:1;

}
.controls{

    display:flex;

    gap:30px;

    margin-bottom:40px;

}
.controls button{

    width:60px;

    height:60px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:20px;

}
#play{

    background:#7c5cff;

    color:white;

    transform:scale(1.15);

}
.volume{

    width:300px;

    display:flex;

    align-items:center;

    gap:15px;

}
#volume{

    flex:1;

}